body{
    background-color: antiquewhite;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr 1fr 9fr 2fr;

    nav {
        padding: 10px 5%;
        background-color: rgba(250, 232, 169);
    }
    nav a {
        margin: 10px;
        padding: 10px;
        border: 1px solid rgb(150, 150, 150);
        border-radius: 100px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
    .Headpicture {
        position:relative;
        text-align: center;
        color: rgb(0, 51, 140);
        font-size: 60px;
        width: 100%;
    }
    .centre {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-decoration: overline;
        background-color:rgba(191, 191, 191, 0.4);
        padding:10px;
    }
    .main{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto auto auto auto; 
        gap:20px;
        padding:5px 1%;
        background-color:rgba(237, 174, 73,0.3) 
    }
    .main div{
        font-size:30px;
        text-align: center;
    }
}